<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/main.css">

  </head>
  <body>

    <div class="site">
      <div class="header">
        <h1 class="title">{% include logo.html %}</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p>Hammock before they <a class="extra" href="/">I'm a link</a> sold out selvage health goth, seitan distillery bitters authentic asymmetrical cold-pressed plaid ennui. Banjo portland post-ironic kinfolk fashion axe ethical. Man braid chicharrones marfa flexitarian, offal put a bird on it sriracha normcore. Green juice kombucha wayfarers meh. Artisan chambray poutine readymade, paleo waistcoat typewriter narwhal beard vinyl chillwave. Banjo street art tattooed, typewriter pork belly meggings cardigan aesthetic. Fap keytar knausgaard, plaid roof party gastropub quinoa occupy you probably haven't heard of them tattooed lo-fi heirloom.</p>
        <p>Yr cliche farm-to-table umami, food truck mustache mumblecore vinyl pug tousled sriracha 90's semiotics put a bird on it. Venmo semiotics portland, marfa trust fund messenger bag lomo normcore DIY truffaut chillwave. Dreamcatcher tumblr fashion axe mustache single-origin coffee 90's. PBR&amp;B twee truffaut wayfarers, biodiesel sartorial neutra gentrify butcher brunch YOLO paleo tote bag lomo. Raw denim banjo typewriter, thundercats VHS hashtag semiotics man braid meh forage microdosing mustache biodiesel mumblecore. Ennui ethical viral gluten-free YOLO art party authentic. Food truck vice intelligentsia leggings master cleanse, 90's DIY post-ironic lo-fi roof party tilde XOXO heirloom.</p>
        <p>Yuccie cred aesthetic butcher. Chartreuse polaroid leggings single-origin coffee lomo, cred kale chips kickstarter whatever. Tumblr polaroid roof party tofu chartreuse meditation occupy gochujang four loko. Cardigan freegan chartreuse dreamcatcher fashion axe. Yr shoreditch cred knausgaard +1, crucifix actually vinyl. 3 wolf moon umami pabst, chillwave hoodie sartorial etsy ennui XOXO pickled venmo 8-bit tote bag. Wolf shabby chic chartreuse asymmetrical, green juice freegan migas neutra leggings hella plaid.</p>
        <p><a class="extra" href="/">Home</a></p>
        <p><a href="#" class="button">I'm a Button!</a></p>
        <hr>
        <small>This is some legal shit you'll never read. By visiting this site, you owe us inifinite cookies.</small>
      </div>

      {{ content }}

  </body>
</html>
